/********************
* Columnas
********************/
[class*=column-] {
  float: left;
  padding: 0.8em;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 576px) {
  .column-1 {
    width: 8.3333333333%;
  }

  .column-2 {
    width: 16.6666666667%;
  }

  .column-3 {
    width: 25%;
  }

  .column-4 {
    width: 33.3333333333%;
  }

  .column-5 {
    width: 41.6666666667%;
  }

  .column-6 {
    width: 50%;
  }

  .column-7 {
    width: 58.3333333333%;
  }

  .column-8 {
    width: 66.6666666667%;
  }

  .column-9 {
    width: 75%;
  }

  .column-10 {
    width: 83.3333333333%;
  }

  .column-11 {
    width: 91.6666666667%;
  }

  .column-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .column-m-1 {
    width: 8.3333333333%;
  }

  .column-m-2 {
    width: 16.6666666667%;
  }

  .column-m-3 {
    width: 25%;
  }

  .column-m-4 {
    width: 33.3333333333%;
  }

  .column-m-5 {
    width: 41.6666666667%;
  }

  .column-m-6 {
    width: 50%;
  }

  .column-m-7 {
    width: 58.3333333333%;
  }

  .column-m-8 {
    width: 66.6666666667%;
  }

  .column-m-9 {
    width: 75%;
  }

  .column-m-10 {
    width: 83.3333333333%;
  }

  .column-m-11 {
    width: 91.6666666667%;
  }

  .column-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .column-l-1 {
    width: 8.3333333333%;
  }

  .column-l-2 {
    width: 16.6666666667%;
  }

  .column-l-3 {
    width: 25%;
  }

  .column-l-4 {
    width: 33.3333333333%;
  }

  .column-l-5 {
    width: 41.6666666667%;
  }

  .column-l-6 {
    width: 50%;
  }

  .column-l-7 {
    width: 58.3333333333%;
  }

  .column-l-8 {
    width: 66.6666666667%;
  }

  .column-l-9 {
    width: 75%;
  }

  .column-l-10 {
    width: 83.3333333333%;
  }

  .column-l-11 {
    width: 91.6666666667%;
  }

  .column-l-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .column-xl-1 {
    width: 8.3333333333%;
  }

  .column-xl-2 {
    width: 16.6666666667%;
  }

  .column-xl-3 {
    width: 25%;
  }

  .column-xl-4 {
    width: 33.3333333333%;
  }

  .column-xl-5 {
    width: 41.6666666667%;
  }

  .column-xl-6 {
    width: 50%;
  }

  .column-xl-7 {
    width: 58.3333333333%;
  }

  .column-xl-8 {
    width: 66.6666666667%;
  }

  .column-xl-9 {
    width: 75%;
  }

  .column-xl-10 {
    width: 83.3333333333%;
  }

  .column-xl-11 {
    width: 91.6666666667%;
  }

  .column-xl-12 {
    width: 100%;
  }
}


/********************
* Fila
********************/
.fila {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/********************
* Contenido
********************/
.contenido {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 576px) {
  .contenido {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .contenido {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .contenido {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .contenido {
    max-width: 1140px;
  }
}

.contenido-amplio {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

